.root-container {
  display: flex;
  width: 100vw;
  height: 100vh;

  flex-direction: column;

}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  div {
    display: flex;
    justify-content: center;
  }
}


